<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfig_prod</key>
	<dict>
		<key>accent_color</key>
		<string>#FA6562</string>
		<key>base_url</key>
		<string>https://rhino.dev.kitchen</string>
	</dict>
</dict>
</plist>
