<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfig_prod</key>
	<dict>
		<key>accent_color</key>
		<string>#001f2c</string>
		<key>red_color</key>
		<string>#FA6562</string>
		<key>base_url</key>
		<string>https://icfbooks.herokuapp.com</string>
		<key>buy_book_url</key>
		<string>https://www.icf-onlinestore.com/de/icf-books/</string>
		<key>store_url</key>
		<string>https://www.icf-onlinestore.com/</string>
		<key>dev_url</key>
		<string>https://dev.kitchen/</string>
		<key>fontis_url</key>
		<string>https://www.fontis-verlag.com/</string>
		<key>impressum_url</key>
		<string>https://www.icf.church/impressum/</string>
	</dict>
</dict>
</plist>
